html, body { 
background : #000000;
margin : 0;
color : #848484;
font-family : Arial, Helvetica, sans-serif;
font-size : 9pt;
} 
table { 
background : #1f1f1f;
border : 1px solid #363636;
margin-bottom : 20px;
} 
td { 
background-color : black;
font-size : 9pt;
} 
th { 
background : #373737;
font-size : 9pt;
text-align : left;
color : #ffffff;
border-top : 1px solid #363636;
} 
tr.head th { 
background : #5b8d22;
text-align : center;
font-size : 10pt;
color : #000000;
padding : 5px;
} 
.footer { 
font-size : 7pt;
margin : 10px 0 10px 0;
} 
.button { 
background : #373737;
color : #ffffff;
border : 1px solid #5b8d22;
margin : 0 5px 0 5px;
font : 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
} 